.banner {
  width: 100%;
  height: 465px;

  position: relative;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerContentContainer {
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerContentContainer {
  position: absolute;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 3px 6px black;
}

.bannerContent > h1 {
  font-size: 47px;
}

.bannerContent > p {
  font-size: 20px;
  margin-top: 40px;
}

.searchContainer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 6px;
  border-radius: 40px;
  margin-top: 40px;
}

.searchInput {
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px;
}
.searchButton {
  padding: 12px 30px;
  background-color: #ec2227;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.searchButton:hover {
  opacity: 0.9;
}
