.container {
  width: 80%;
  height: 357px;
  margin: 0 auto;
  padding: 20px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iconLoader {
  width: 40px;
  height: 40px;
  animation: spin 1s alternate infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.3;
  }
}
